/*Global*/
	body{
		font-family: "PT Sans";
		line-height: 20px;
		font-kerning: normal;
	}

/* Landingpage */
	#title {
		background:transparent;
		position:absolute;
		top:0%;
		bottom: 0%;
		margin-top: 50px;
		margin-left: 50px;
		text-align: center;
		width:100%;
		z-index:0;
		height:100%;
	}
	.workpage{
		background-color: white;
		height: 100vh;
		width: 100%;
	}
	.landingpage{
		background:#001e66;
		height:100vh;
		width: 100%;
	}
	.titletext{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-family: 'Patua One', cursive;
		font-weight: 600;
		font-size: 120px;
		color: #001e66;
		text-transform: uppercase;
	  -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	  -khtml-user-select: none; /* Konqueror HTML */
	  -moz-user-select: none; /* Firefox */
	  -ms-user-select: none; /* Internet Explorer/Edge */
	  user-select: none; /* Non-prefixed version, currently
	                                  supported by Chrome and Opera */
	}
	#title2 {
		background:transparent;
		position:absolute;
		top:0%;
		bottom: 0%;
		margin-top: 50px;
		margin-left: 50px;
		text-align: center;
		width:100%;
		z-index:0;
		height:100%;
	}
	.titletext2{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-family: 'Patua One', cursive;
		font-size: 120px;
		color: rgb(246, 114, 145);
		font-weight: 600;
		text-transform: uppercase;
	  -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	  -khtml-user-select: none; /* Konqueror HTML */
	  -moz-user-select: none; /* Firefox */
	  -ms-user-select: none; /* Internet Explorer/Edge */
	  user-select: none; /* Non-prefixed version, currently
	                                  supported by Chrome and Opera */
	}

/* Header */
	#header{
		z-index: 100;
		position: absolute;
	}
	.customize-icon{
		width: 30px;
		margin: 20px;
		cursor: pointer;sa
	}

/* Customize */
	.customize{
		background: #00153f;
		width: 100%;
		position: absolute;
		top:-700px;
		height: 500px;
		transition: 0.3s;
		z-index: 100;
	}
	.customize-extended{
		width: 100%;
		top: 0%;
		height: 500px;
		transition: 0.3s;
	}
	.box{
		width: 100%;
		height: 150px;
		position: relative;
		margin: 200px 0px;
		overflow: hidden;
	}
	.innerbox{
		width: 100%;
		position:relative;
	}
	.selecter{
		width: 0px;
		height: 0px;
		background: transparent;
	  border: 20px solid transparent;
		border-top: solid 20px #00153f;
		position: absolute;
		left: 50%;
		top: 200px;
		transform: translateX(-50%);
		z-index: 100;
	}
	.color1{
		width: 33.33%;
		height: 130px;
		background: rgb(246, 114, 145);
		float: left;
		transition: 0.5s;
	}
	.color1:hover,.color2:hover,.color3:hover{
		cursor: pointer;
	}
	.color2{
		width: 33.33%;
		height: 130px;
		background: rgb(10, 38, 112);
		float: left;
		transition: 0.5s;
	}
	.color3{
		width: 33.33%;
		height: 130px;
		background: #fdf5ea;
		float: left;
		transition: 0.5s;
	}
	.color-active{
		width: 60%;
	}
	.color-crumped{
		width: 20%;
	}

/* Begrüssung*/
	.begrüssung{
		background: #001e66;
		height:50vh;
		font-size: 16px;
	}
	.begrüssung div{
		max-width: 700px;
	  margin: 0 auto;
		background: #fdf5ea;
		padding:100px 50px;
	}
	.begrüssung-textbox{
		color: black;

	}

/* Kompetenzen */
	.kompetenz{
		display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
	}
	.skills{
		width: 100%;
		background-color: #001e66;
	}
	.skills-title,.beschreibung-title{
		position: relative;
		color: #f77392;
		font-family: 'Patua One';
		font-size: 60px;
		line-height: 20px;
		font-kerning: normal;
		text-align: left;
		margin-bottom: 200px;
		max-width: 800px;
		margin: auto;
	}

	.part .more{
		position: absolute;
		bottom: 10px;
		left: 10px;
		width: 20px;
		height: 20px;
		background-image: url("./img/ui/more.svg");
		transition: 0.3s;
	}
	.part .more-text-box{
		position: absolute;
		bottom: 10px;
		left: 35px;
		height: 20px;
		overflow: hidden;

	}
	.part .more-text-box div{
		position: relative;
		color: #001e66;
		left: -50px;
		font-size: 17px;
		transition: 0.3s;
		text-transform: uppercase;
		font-weight: 600;
	}

	.part:hover .more-text-box div{
		left:0px;
	}
	.part:hover .more{
		transform: rotate(45deg);
	}

	.part{
		width: 800px;
		height: 400px;
		overflow: hidden;
		position: relative;
		order: 2;
		margin: 150px auto;
		background: white;
		transition: 0.5s;
		box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
	}
	.part video{
		width: auto;
		height: 100%;
		transform:translateY(-50%);
		position: absolute;
		right: 0%;
		top:50%;
		z-index: 0;
	}
	.part:hover{
		cursor: pointer;
		box-shadow: 0px 30px 40px rgba(0,0,0,0.2);
	}
	.part h2{
		z-index: 5;
		position: absolute;
		float: right;
		text-align: left;
		font-family: 'Patua One', cursive;
		font-size: 40px;
		padding-right: 100px;
		left: 50px;
		right: 50%;
		top: 50%;
	  letter-spacing: 1px;
		text-transform: uppercase;
		transition: top 0.6s;
		transition-timing-function: cubic-bezier(.09,.34,.18,1);
		color: #001e66;
	}

	.part p{
		opacity: 0;
		z-index: 10;
		transition: 0.3s;
		position: absolute;
		top: 50%;
		left: 60px;
		color: #001e66;
		margin-top: 50px;
		width: 400px;
	}

	.detail{
		overflow: hidden;
		z-index: 20;
		transition: 1s;
		width: 100%;
		height: 600px;
	}

	.detail:hover{
				cursor: url(img/ui/back-cursor.ico), auto;
	}

	.detail h2{
		position: absolute;
		top: 30%;
		left: 60px;
		transition: 0.3s;
		transform: translateY(0px)!important;

	}
	.detail p{
		opacity: 1;
		transition: 0s;
		position: absolute;
		top: 30%;
		left: 60;
		width: 300px;
		transition: 0.3s;
	}
	.detail .more{
		transform: scale(0.1);
		opacity: 0;
	}
	.detail:hover .more{
		transform: scale(0.1);
		opacity: 0;
	}
	.detail:hover .more-text-box div{
		left: -50px;
	}


	.skills-wrapper{
		width: 100%;
		height: 100%;
	}

 	.back p1{
		font-size: 20px;
	}

	.back img{
		width: 25px;
		height: 25px;
		transform: translateY(5px);
	}

	.back{
		margin-top: 50px;
		margin-left: 100px;
	}


/* Beschreibung */
	.beschreibung{
		position: relative;
		background: #001e66;
		padding-bottom: 150px;
	}
	.beschreibung div{
		top:50%;
		max-width: 700px;
		margin: 100px auto 0;
		background-color: #fdf5ea;
		padding:100px 50px;
	}
	.beschreibung h2{
		margin-top: 100px;
	}

/* Arbeitn Neu*/
.arbeiten{
	height: 30vh;
	width: 100%;
	background-color: #001e66;
}
.arbeiten-button{
	background: #f77392;
	padding: 20px 25px;
	border-radius: 2px;
	margin: auto;
	text-align: center;
	max-width: 150px;
	font-size: 20px;
	color: #001e66;
	transform: scale(0.9);
	transition: 0.5s;
	cursor: pointer;
	transition-timing-function: cubic-bezier(0.25, 0, 0, 1.01);
}
.arbeiten-button:hover{
	box-shadow: 0px 5px 20px #f7739280;
	transform: scale(1);
	padding: 2 px 30px;
}
.arbeiten a{
	text-align: center;
	text-decoration: none;
	color: #001e66;
}
/* Arbeiten */
.work-body{
	background-color: #001e66;
}
.work{
	position: relative;
	width: 100%;
	height: 100%;
}
.wrapper{
	padding-top: 100px;
	max-width: 800px;
	margin: auto;
	padding-top: 100px;
}

.fragment{
	width: 100%;
	padding-top: 100%;
	background-size: cover;
}
.work-container{
	background: white;
	width: 30%;
	float: left;
	margin: 1.5%;
	transition: 0.2s;
}
.work-back{
	color: #f77392;
	font-size: 18px;
	position: absolute;
	top: 20px;
	left: 10px;
	cursor: pointer;
	text-decoration: none;
	z-index: 20;
}
.work-back div{
	background-image: url('./img/ui/back.svg');
	width: 25px;
	height: 25px;
	float: left;
	transform: translateY(-3px);

}

.work-container:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.work-text{
	margin: 20px;
	color: #001e66;
}
.work-container .work-lj{
	display: none;
}

.work-detail{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 97%;
	z-index: 30;
}

.work-detail .fragment{
	height: 80vh;
	width: 90vw;
	padding: 0;
	margin: 20px auto ;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.work-detail .work-text{
	width: 47vw;
	margin: auto;
	font-size: 30px;
	text-align: right;
	margin-top: 20px;
	float: left;
	font-weight: bold;
}
.work-detail:hover{
	transform: scale(1);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 97%;
	cursor: default;
}
.work-detail .work-lj{
	display: block;
	float: left;
	font-size: 30px;
	padding-top: 20px;
	text-align: left;
	margin-left: 10px;
}

.work-container .work-close{
	display: none;
}

.work-detail .work-close{
	display: block;
	position: absolute;
	top: 10px;
	right: 20px;
	width: 30px;
	height: 30px;
	background-image: url('./img/ui/less.svg');
	cursor: pointer;
}
.content{
	opacity: 0.5;
}
.link{
	text-decoration: none;
	text-align: center;
}

.work-button{
	position: absolute;
	top: 350px;
	width: 130px;
	padding:20px 20px 20px 20px;
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
	transition: 0.2s;
	opacity: 1;
	border-radius: 5px;
}
.work-button:hover{
	background: #f7f7f7;
	padding:20px 30px 20px 30px;
}
.work-button a{
	margin-left:0;
	color: black;
}
.work-button img{
	width: 20px;
	height: 20px;
	transform: translateY(5px) translateX(4px);
	transition: 0.3s;
}
.work-button:hover img{
	width: 20px;
	height: 20px;
	transform: translateY(5px) translateX(7px);
}


/* Footer*/
	.footer{
		height: 50vh;
		background: #000f3f;
		position: relative;
	}
	.footer-container{
		position: absolute;
		bottom: 0px;
		float: left;
		margin-left: 10%;
		margin-bottom: 50px;
	}
	.footer-desc{
		color: white;
		margin-left:20px;
		font-size: 15px;
	}
	.footer-img{
	width: 55px;
	height: 55px;
	transform: translateY(3px) translateX(-5px);
	transition: 0.3s;
	}
	.danke-container{
	position: absolute;
	color: white;
	margin: auto;
	font-size: 40px;
	font-family: 'Patua One', cursive;
	font-weight: 600;
	left: 50%;
	transform: translateX(-50%);
	top: 40%;
	}
	.danke-container .danke{
		float: left;
		overflow: hidden;
		height: 40px;
		transform: translateY(-8px);
	}
	.danke-container .danke p{
		transform: translateY(-7px);
		line-height: normal;
		animation: danke 5s infinite;
		text-align: center;
	}
	.danke-container .danke p::selection{
		background: none;
	}
	@keyframes danke {
		0%{
			transform: translateY(-7px);
		}
		20%{
			transform: translateY(-56px);
		}
		25%{
			transform: translateY(-56px);
		}
		45%{
			transform: translateY(-105px);
		}
		50%{
			transform: translateY(-105px);
		}
		70%{
			transform: translateY(-154px);
		}
		75%{
			transform: translateY(-154px);
		}
		95%{
			transform: translateY(-203px);
		}
		100%{
			transform: translateY(-203px);
		}
	}
	@media only screen and (min-width: 1024px) {
		.work-back{
			position: fixed;
		}
	}
	@media only screen and (max-width: 900px) {
		.skills-title, .beschreibung-title{
			font-size: 40px;
			padding-left: 20px;
		}
		.skills-title{
			margin-bottom: -50px;
		}
		.part{
			width: 90%;
			height: 600px;
			overflow: hidden;
			position: relative;
			order: 2;
			margin: 150px auto;
			background: white;
			transition: 0.5s;
			box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
			cursor: default !important;
		}
		.detail{
			cursor: default !important;
		}
		.part video{
			width: 100%;
			transform:translateY(0%);
			position: absolute;
			right: 0%;
			top:25%;
			z-index: 0;
		}
		.part h2{
			transform: translateY(0px) !important;
			top: 50px;
			left: 20px;
			font-size: 30px;
		}
		.part p{
			display: block;
			top: 70px;
			opacity: 1;
			left: 20px;
			width: 90%;
		}
		.beschreibung div{
			top:50%;
			width: 95%;
			margin: 100px auto 0;
			background-color: #fdf5ea;
			padding:0px;
		}
		.beschreibung p{
			padding: 40px;
		}
		.begrüssung div{
			width: 95%;
			padding: 0;
		}
		.begrüssung p{
			padding: 40px;
		}
		.danke-container .danke p{
			font-size: 20px;
			line-height: 50px;
		}
		.footer-container{
			left: 50%;
			transform: translateX(-50%);
			margin: 0;
			width: 270px;
			bottom: 20px;
		}
		.work-container{
			width: 47%;
		}
		.work-container:hover{
			transform: scale(1);
			cursor: pointer;
		}
		.work-detail, .work-detail:hover{
			margin: 0;
			width: 100%;
		}
		.work-detail .work-close{
			width: 30px;
			height: 30px;
			top: 30px;
		}
	}
		@media only screen and (min-width: 550px) and (max-width: 900px) {

			.part{
				width: 95%;
				height: 300px;
				overflow: hidden;
				position: relative;
				order: 2;
				margin: 150px auto;
				background: white;
				transition: 0.5s;
				box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
			}
			.part video{
				width: auto;
				height: 100%;
				transform:translateY(-50%);
				position: absolute;
				right: 0%;
				top:50%;
				z-index: 0;
			}
			.part:hover{
				cursor: pointer;
				box-shadow: 0px 30px 40px rgba(0,0,0,0.2);
			}
			.part h2{
				z-index: 5;
				position: absolute;
				float: right;
				text-align: left;
				font-family: 'Patua One', cursive;
				font-size: 30px;
				padding-right: 100px;
				left: 20px;
				right: 50%;
				top: 50%;
			  letter-spacing: 1px;
				text-transform: uppercase;
				transition: top 0.6s;
				transition-timing-function: cubic-bezier(.09,.34,.18,1);
				color: #001e66;
			}

			.part p{
				opacity: 0;
				z-index: 10;
				transition: 0.3s;
				position: absolute;
				top: 50%;
				left: 60px;
				color: #001e66;
				margin-top: 50px;
				width: 400px;
			}
			.detail{
				overflow: hidden;
				z-index: 20;
				transition: 1s;
				width: 100%;
				height: 300px;
			}

			.detail:hover{
						cursor: url(img/ui/back-cursor.ico), auto;
			}

			.detail h2{
				position: absolute;
				top: 30%;
				left: 40px;
				transition: 0.3s;
				transform: translateY(0px)!important;

			}
			.detail p{
				opacity: 1;
				transition: 0s;
				position: absolute;
				top: 30%;
				left: 40px;
				width: 250px;
				transition: 0.3s;
			}
			.detail .more{
				transform: scale(0.1);
				opacity: 0;
			}
			.detail:hover .more{
				transform: scale(0.1);
				opacity: 0;
			}
			.detail:hover .more-text-box div{
				left: -50px;
			}
		}
	/*Title Fix*/
	@media only screen and (max-width: 600px) {

		/* Landingpage */
			.titletext2{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				font-family: 'Patua One', cursive;
				font-size: 100px;
				font-weight: 600;
				text-transform: uppercase;
			  -webkit-touch-callout: none; /* iOS Safari */
			  -webkit-user-select: none; /* Safari */
			  -khtml-user-select: none; /* Konqueror HTML */
			  -moz-user-select: none; /* Firefox */
			  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
			                                  supported by Chrome and Opera */
			}
			.titletext{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				font-family: 'Patua One', cursive;
				font-weight: 600;
				font-size: 100px;
				text-transform: uppercase;
			  -webkit-touch-callout: none; /* iOS Safari */
			  -webkit-user-select: none; /* Safari */
			  -khtml-user-select: none; /* Konqueror HTML */
			  -moz-user-select: none; /* Firefox */
			  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
			                    supported by Chrome and Opera */
			}
			#title {
				background:transparent;
				position:absolute;
				top:0%;
				bottom: 0%;
				margin-top: 0px;
				margin-left: 0px;
				text-align: center;
				width:100%;
				z-index:0;
				height:100%;
			}
			#title2 {
				background:transparent;
				position:absolute;
				top:0%;
				bottom: 0%;
				margin-top: 0px;
				margin-left: 0px;
				text-align: center;
				width:100%;
				z-index:0;
				height:100%;
			}
	}
	@media only screen and (max-width: 370px) {
		.danke-container .danke p{
			font-size: 16px;
			line-height: 50px;
		}
	}
