/*Global*/
	body{
		font-family: "PT Sans";
		line-height: 20px;
		font-kerning: normal;
	}

/* Landingpage */
	#title {
		background:transparent;
		position:absolute;
		top:0%;
		bottom: 0%;
		margin-top: 50px;
		margin-left: 50px;
		text-align: center;
		width:100%;
		z-index:0;
		height:100%;
	}
	.workpage{
		background-color: white;
		height: 100vh;
		width: 100%;
	}
	.landingpage{
		background:#001e66;
		height:100vh;
		width: 100%;
	}
	.titletext{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-family: 'Patua One', cursive;
		font-weight: 600;
		font-size: 120px;
		color: #001e66;
		text-shadow: 0px 0px 20px #001e66;
		text-transform: uppercase;
	  -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	  -khtml-user-select: none; /* Konqueror HTML */
	  -moz-user-select: none; /* Firefox */
	  -ms-user-select: none; /* Internet Explorer/Edge */
	  user-select: none; /* Non-prefixed version, currently
	                                  supported by Chrome and Opera */
	}
	#title2 {
		background:transparent;
		position:absolute;
		top:0%;
		bottom: 0%;
		margin-top: 50px;
		margin-left: 50px;
		text-align: center;
		width:100%;
		z-index:0;
		height:100%;
	}
	.titletext2{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-family: 'Patua One', cursive;
		font-size: 120px;
		color: #4af2d6;
		font-weight: 600;
		text-transform: uppercase;
	  -webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	  -khtml-user-select: none; /* Konqueror HTML */
	  -moz-user-select: none; /* Firefox */
	  -ms-user-select: none; /* Internet Explorer/Edge */
	  user-select: none; /* Non-prefixed version, currently
	                                  supported by Chrome and Opera */
	}

/* Header */
	#header{
		z-index: 100;
		position: absolute;
	}
	.customize-icon{
		width: 30px;
		margin: 20px;
	}

/* Customize */
	.customize{
		background: #00153f;
		width: 100%;
		position: absolute;
		top:-700px;
		height: 500px;
		transition: 0.3s;
		z-index: 100;
	}
	.customize-extended{
		width: 100%;
		top: 0%;
		height: 500px;
		transition: 0.3s;
	}
	.box{
		width: 100%;
		height: 150px;
		position: relative;
		margin: 200px 0px;
		overflow: hidden;
	}
	.innerbox{
		width: 100%;
		position:relative;
	}
	.selecter{
		width: 0px;
		height: 0px;
		background: transparent;
	  border: 20px solid transparent;
		border-top: solid 20px #00153f;
		position: absolute;
		left: 50%;
		top: 200px;
		transform: translateX(-50%);
		z-index: 100;
	}
	.color1{
		width: 33.33%;
		height: 130px;
		background: pink;
		float: left;
		transition: 0.5s;
	}
	.color1:hover,.color2:hover,.color3:hover{
		cursor: pointer;
	}
	.color2{
		width: 33.33%;
		height: 130px;
		background: #001e66;
		float: left;
		transition: 0.5s;
	}
	.color3{
		width: 33.33%;
		height: 130px;
		background: #f9ea93;
		float: left;
		transition: 0.5s;
	}
	.color-active{
		width: 80%;
	}
	.color-crumped{
		width: 10%;
	}

/* Begrüssung*/
	.begrüssung{
		background: #001e66;
		/*padding:100px 30px;*/
		height:50vh;
	}
	.begrüssung div{
		max-width: 500px;
	  margin: 0 auto;
		background: #001e66;
		padding:40px 60px;
	}
	.begrüssung-textbox{
		transition-property: transform;
		transition: 0.1s;
		color: white;
	}

/* Kompetenzen */
	.kompetenz{
		display: flex;
    	-ms-flex-direction: column;
    	-webkit-flex-direction: column;
    	flex-direction: column;
	}
	.skills{
		width: 100%;
		height: 600px;
	}
	.part{
		float: left;
		width: 33.33333%;
		height: 50%;
		overflow: hidden;
		position: relative;
		order: 2;

	}


	.part:nth-child(1){
		background: #f77392;
	}
	.part video{
		width: 100%;
		height: 100%;
		transform: translateX(-50%) translateY(-50%);
		position: absolute;
		left: 50%;
		top:50%;
		z-index: 0;
	}
	.part:hover video{
		cursor: pointer;
	}
	.skills h2{
		z-index: 5;
		position: absolute;
		top: 20px;
		left: 20px;
		font-family: 'Patua One', cursive;
		font-size: 1em;
	  	letter-spacing: 1px;
		text-transform: uppercase;
		transition-timing-function: cubic-bezier(.09,.34,.18,1);
		transition: transform 0.3s;
	}
	.part:hover h2{
		transform: scale(0.9) translateX(-5%) translateY(-20%);
	}

	.part:nth-child(1) h2{
		color: #001e66;
	}
	.part:nth-child(2) h2{
		color: #fdf4ea;
	}

	.part p{
		opacity: 0;
		z-index: 10;
		transition: 0.3s;
		position: absolute;
		top: 230px;
		left: 70px;
		cursor: pointer;
	}

	.detail{
		float: left;
		background: #f77392;
		overflow: hidden;
		position: fixed;
		top: 0;
		left:0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		transition: 0s;
		

	}

	.detail:hover{
				cursor: url(img/ui/back-cursor.ico), auto;
	}


	.detail h2{
		font-size: 50px;
		top: 200px;
		left: 100px;
		color: #001e66;
		transition: left 0.3s;

	}
	.detail p{
		opacity: 1;
		transition: 0s;
		position: absolute;
		top: 250px;
		left: 100px;
		width: 400px;
		cursor: url(img/ui/back-cursor.ico), auto;
		transition: 0.3s;
	}

	.detail video:hover{
		width: auto;
		height: 100%;
		float: right;
		cursor: url(img/ui/back-cursor.ico), auto;
	}

	.detail video{
		width: auto;
		height: 100%;
		float: right;
		cursor: url(img/ui/back-cursor.ico), auto;
		left: 100%;
		transform: translateX(-100%) translateY(-50%);
	}
	.skills-wrapper{
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

 	.back p1{
		font-size: 20px;
	}

	.back img{
		width: 25px;
		height: 25px;
		transform: translateY(5px);
	}

	.back{
		margin-top: 50px;
		margin-left: 100px;
	}
	#part2{
		background-color: #001e66;
	}
	#part3{
		background-color: #fdf5ea;
	}
	#part4{
		background-color: #fdf5ea;
	}
	#part5{
		background-color: #ff5f84;
	}
	#part6{
		background-color: #001e66;
	}

	#detail1{
		background-color: #ff5f84;
	}
	#detail2{
		background-color: #001e66;
	}
	#detail3{
		background-color: #fdf5ea;
	}
	#detail4{
		background-color: #fdf5ea;
	}
	#detail5{
		background-color: #ff5f84;
	}
	#detail6{
		background-color: #001e66;
	}

/* Beschreibung */
	.beschreibung{
		height: 70vh;
		position: relative;
	}
	.beschreibung div{
		max-width: 500px;
		position: absolute;
		left: 50%;
		top:50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.beschreibung h2{
		font-family: 'Patua One', cursive;
		font-weight: 600;
		font-size: 30px;
		margin-bottom: 20px;
	}

/* Arbeiten */
.work{
	width: 100%;
	height: 300px;
}
.work{
	padding-bottom:150px;
	position: relative;
}
.work .fragment{
	height: 290px;
	width: 30%;
	display: none;
	float: left;
	margin-left: 2.5%;
	position: relative;
}
.fragment .img-container{
	height: 260px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.1);
}
.img-container img{
	width: 100%;
	border-radius: 15px;
}
.fragment h2{
	position: absolute;
	bottom: 0px;
	left: 30px;
}
.fragment:nth-child(1) {
    display: flex;
}

.fragment:nth-child(2) {
    display: flex;
}

.fragment:nth-child(3) {
    display: flex;
}
.content{
	opacity: 0.5;
}
.link{
	text-decoration: none;
	text-align: center;
}

.work-button{
	position: absolute;
	top: 350px;
	width: 130px;
	padding:20px 20px 20px 20px;
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
	transition: 0.2s;
	opacity: 1;
	border-radius: 5px;
}
.work-button:hover{
	background: #f7f7f7;
	padding:20px 30px 20px 30px;
}
.work-button a{
	margin-left:0;
	color: black;
}
.work-button img{
	width: 20px;
	height: 20px;
	transform: translateY(5px) translateX(4px);
	transition: 0.3s;
}
.work-button:hover img{
	width: 20px;
	height: 20px;
	transform: translateY(5px) translateX(7px);
}
/* Work Detail */
.work3{
	background: red;
	background-size: cover;
}
.work2{
	position: absolute;
	background: red;
	background-size: cover;
}

.work2 .fragment2{
	height: 400px;
	width: 30%;
	margin: 1%;
	position: relative;
	float: right;
}
.fragment2 .img-container2{
	height: 400px;
	overflow: hidden;
}
.img-container2 img{
	height: 100%;
	transform: translateX(-50%);
	margin-left: 50%;
}
.fragment2 h2{
	position: absolute;
	bottom: 0px;
	left: 30px;
}
/* Footer*/
	.footer{
		height: 20vh;
		background: #001e66;
	}
	.footer-container{
		margin-top: 2%;	
		float: right;
		margin-right: 10%;
	}
	.footer-desc{
		color: #4af2d6;
		margin-left:0;
		font-size: 25px;
	}
	.footer-img{
	width: 35px;
	height: 35px;
	transform: translateY(5px) translateX(4px);
	transition: 0.3s;
	}

/* Mobile */

	@media only screen and (max-width: 500px) {
		.kompetenz{
			display: flex;
			-ms-flex-direction: column;
			-webkit-flex-direction: column;
			flex-direction: column;
			flex-wrap: wrap;
		}

	#detail1, #detail2, #detail3, #detail4, #detail5, #detail6 {
		width: 50%;
	}
	.part {
		overflow: visible;
		height: 33.3333%;
	}

.footer-desc {
	font-size: 15px;
}


.customize-icon {
	padding-left: 10px;
}
.skills {
	width: 100%;
}
.video{

}
	}


	@media only screen and (max-width: 600px) {

		/* Landingpage */
			.titletext2{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				font-family: 'Patua One', cursive;
				font-size: 100px;
				font-weight: 600;
				text-transform: uppercase;
			  -webkit-touch-callout: none; /* iOS Safari */
			  -webkit-user-select: none; /* Safari */
			  -khtml-user-select: none; /* Konqueror HTML */
			  -moz-user-select: none; /* Firefox */
			  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
			                                  supported by Chrome and Opera */
			}
			.titletext{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				font-family: 'Patua One', cursive;
				font-weight: 600;
				font-size: 100px;
				text-shadow: 0px 0px 20px #001e66;
				text-transform: uppercase;
			  -webkit-touch-callout: none; /* iOS Safari */
			  -webkit-user-select: none; /* Safari */
			  -khtml-user-select: none; /* Konqueror HTML */
			  -moz-user-select: none; /* Firefox */
			  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
			                                  supported by Chrome and Opera */
			}
			#title {
				background:transparent;
				position:absolute;
				top:0%;
				bottom: 0%;
				margin-top: 0px;
				margin-left: 0px;
				text-align: center;
				width:100%;
				z-index:0;
				height:100%;
			}
			#title2 {
				background:transparent;
				position:absolute;
				top:0%;
				bottom: 0%;
				margin-top: 0px;
				margin-left: 0px;
				text-align: center;
				width:100%;
				z-index:0;
				height:100%;
			}

			.skills h2{
				font-size: 0.7em;
			}
	}


